@import "../../varibales.css";
.songCard {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 1rem;
  text-align: center;
}

.songCard .ratings {
  display: inline-flex;
  justify-content: space-between;
}

.ratings svg:hover {
  color: var(--default-color);
}
.songCard a {
  color: var(--default-color);
}
